<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>parkingwatchdog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3A70988E1D7DF8EB0068154A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7098A71D7DF8EB0068154A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A7098B21D7DF8EB0068154A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
